@import '../../variables';
@import '../../mixins';

.card__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card
        {
            @include menuItemHover($black);
            margin: 35px 10px;
            width: 300px;
            height: 450px;
            border-radius: 15px;
            box-shadow: 12px 5px 15px rgba($color: #000000, $alpha: .2);
            position: relative;

            .card__stars
            {
                position: absolute;
                right: 25px;
                top: 10px;
            }

            h4
            {
                padding: 25px 10px 5px 10px;
                font-weight: 300;
            }
            h1
            {
                padding: 0 10px;
                height: 75px;
            }
            .card__price
            {
                margin-top: 2%;
                text-align: center;
                font-weight: 300;
            }
            .card__image
            {
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 250px;
                height: 140px;
                object-fit: contain;
            }
            .card__buttons
            {
                display: flex;
                justify-content: space-around;
                margin-bottom: 35px;

                button
                {
                    margin-top: 5%;
                    display: flex;
                    justify-content: center;
                    width: 120px;
                    text-align: left;
                    outline: none;
                    border: none;
                    background: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    @include submenuItemHover();

                    a
                    {
                      color: $black;
                    }
                    img
                    {
                        padding: 0 5px 0 0;
                    }
                }
            }
            &:hover
            {
                transform: scale(1.05);
            }
        }
    }