@import '../../variables';
@import '../../mixins';

.cart__wrapper {
    font-family: 'Lato';
    width: 100%;
    min-height: 75vh;
    display: flex;

    .cart__table {
        padding: 50px 50px 50px 150px;
        flex: 7;

        tr {
            padding: 10px;

            th, td , h3{
                text-align: left;
                font-size: 0.9rem;
                text-transform: uppercase;
                font-weight: 100;
                color: $primary-color;
                letter-spacing: .2rem;
            }
            
            td {
                width: 23%;
                font-weight: 400;
                padding: 15px 0 0 0;

                img {
                    width: 100px;
                    height: 50px;
                }

                button {
                    outline: none;
                    background: none;
                    border: none;
                    cursor: pointer;

                    svg {
                        fill: $secondary-color;
                        &:hover {
                            fill: $red;
                        }
                    }
                }

                &:last-child {
                    width: 8%;
                }
            }
            
            h3 {
                color: $secondary-color;
                font-weight: 600;
            }

            &:nth-child(2n) {
                margin-bottom: 15px;
            }
        }

        .table__counter {
            justify-content: start;
            width: 150px;

            select {
                border-radius: 5px;
            }

            i {
                right: 20px;
            }
            &:hover {
                i {
                    right: 20px;
                }
            }
        }
    }

    .cart__summary {
        flex: 3;
        background-color: $primary-color;
        color: white;
        @include centerChildrenColumn();
        justify-content: start;

        hr {
            margin-top: 15%;
            width: 50%;
            border: 1px solid white;
        }

        h3, h2, button {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .2rem;
        }

        h3 { 
            margin-top: 15%;
        }

        h2 {
            margin-top: 10px;
            margin-bottom: 15%;
            font-size: 1.5rem;
            color: $secondary-color;
        }

        p, label {
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: .05rem;
        }

        .summary__terms-and-conditions {
            margin-top: 10px;
            width: 210px;
            display: flex;
            justify-content: space-between
        }

        .summary__buttons {
            @include centerChildrenColumn();
            margin-top: 15%;

            button {
                @include buttonStyleActive(darken($primary-color, 10%), $secondary-color);
                margin-top: 15px;
                width: 250px;

                .fa-paypal {
                    margin-left: 45px;
                }
            }
        }

        input[type="checkbox"] { 
            padding: 10px;
        }
    }
}