@import './variables';
@import './mixins';

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

main
{
    font-family: 'Lato', sans-serif;
    width: 100%;
}