@mixin menuItemHover ($color)
{
    transition: .2s ease-in;
    &:hover
    {
        color: $color;
    }
}

@mixin submenuItemHover ()
{
    transition: .2s ease-in;
    &:hover
    {
        font-weight: 700;
    }
}

@mixin centerchildren
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin centerchildrenRow
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerchildrenColumn
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin buttonStyle($background-color, $text-color) 
{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    color: $text-color;

    &:before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba($background-color, .5);
        width: 56px;
        height: 56px;
        transition: all .3s ease;
    }
    span
    {
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: .25em;
        vertical-align: middle;
    }
    &:hover
    {
        &:before
        {
            width: 100%;
            background: rgba($background-color,1);
            svg
            {
                transform: translateX(0);
            }
        }
        &:active 
        {
            transform: scale(.9)
        }
    }
}

@mixin buttonStyleActive($background-color, $text-color) 
{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 19px 22px;
    transition: all .2s ease;
    color: $text-color;
    background: $background-color;
    border-radius: 28px;
    width: 350px;
    text-align: center;

    span
    {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .25em;
    }

    i
    {
        font-size: 18px;
        font-weight: 600;
        position: relative;
        top: 0;
        margin-left: 10px;
        color: $text-color;
        transform: translateX(15px);
        transition: all .3s ease;
    }

    &:hover
    {
        transform: scale(1.05);
        i
        {
            transform: translateX(30px);
        }
        &:active 
        {
            transform: scale(.9)
        }
    }
}