@mixin menuItemHover ($color)
{
    transition: .2s ease-in;
    &:hover
    {
        color: $color;
        font-weight: 600;
    }
}

@mixin centerchildren
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}