@import '../../variables';
@import '../../mixins';

header
{
    font-family: 'Lato', sans-serif;
    width: 100%;
    min-height: 15vh;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo
    {
        z-index: 15;
        margin-left: 2%;
        img
        {
            width: 100px;
            height: 100px;
        }
    }

    .header__menu
    {
        z-index: 15;
        a
        {
            padding: 15px;
            color: white;
            @include menuItemHover($secondary-color);
        }
        #sale 
        {
            color: $red;
            font-weight: bold;
            @include menuItemHover($secondary-color);
        }
    }
    .header__menu-basket
    {
        z-index: 15;
        display: flex;
        text-align: center;
        padding: 25px;

        .menu__wrapper
        {
            position: relative;
            margin: 0 15px 0 15px;
            transition: .1s ease-in;
            p
            {
                cursor: pointer;
                color: white;
            }
            &:hover{transform: scale(1.1);}
        }
    }
}

.menu__cart-badge
{
    background-color: $secondary-color;
    color: $black;
    border-radius: 50%;
    padding: .1rem .4rem;
    position: absolute;
    top: -10px;
    right: 25px;
}